name: 'Build'

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  pull_request_target:

permissions:
  issues: write
  contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: github/issue-labeler@v3.4
        with:
          configuration-path: .github/labeler.yml
          include-title: 1
          include-body: 0
          enable-versioned-regex: 0
          repo-token: ${{ secrets.GITHUB_TOKEN  }}
      - uses: actions/checkout@v4
      - name: Setup Git
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda
        name: Install pnpm
        with:
            version: 9
            run_install: false
      - uses: actions/setup-node@v4
        name: Install Node.js
        with:
            node-version: 20
            cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install
      - name: Build
        run: pnpm run build
      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: expander-card
          path: |
              dist
